/* Colors */
$highlight-color: #FED136;

/* Font sizes */
$heading-bold-size: 28px;

/* Fonts */
$font-sans-serif: "Open Sans", sans-serif;
$font-serif: "Lora", serif;

/* Section margin */
$section-margin: 80px;

/* Line height */
$line-height: 1.5;