.about-us {
    text-align: center;
    position: relative;
    margin: $section-margin;
    h3 {
      margin-bottom: 40px;
    }
    .row {
      margin-bottom: 80px;
      position: relative;
      h4 {
        margin-bottom: 10px;
        font-size: 18px;
      }
      .intro-right {
        text-align: right;
        line-height: $line-height;
        P {
          color: grey;
          font-family: $font-serif;
        }
      }
      .intro-left {
        text-align: left;
        line-height: $line-height;
        P {
          color: grey;
          font-family: $font-serif;
        }
      }
      .circle-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          border: 6px solid #F0F0F0;
          height: 200px;
          width: 200px;
          background: center;
          object-fit: cover;
        }
      }
      .circle-fill {
        background-color: $highlight-color;
        border-radius: 50%;
        border: 6px solid #F0F0F0;
        height: 200px;
        width: 200px;
        text-align: center;
        p {
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
      }
    }
    .vl {
      border-left: 3px solid #F0F0F0;
      height: 1300px;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 200px;
      z-index: -1;
    }
  }  