.contact-us {
    background: url('https://images.pexels.com/photos/1787044/pexels-photo-1787044.jpeg?cs=srgb&dl=black-and-white-buildings-city-1787044.jpg&fm=jpg') center;
    position: relative;
    background-size: cover;
    max-height: 800px;
    padding-top: $section-margin;
    padding-bottom: $section-margin;
    text-align: center;
    h1 {
      color: white;
      margin-top: 0;
    }
    .contact-form {
      margin-top: 30px;
      .container {
        flex-wrap: wrap;
        flex-direction: row;
        .form-row {
          flex-direction: row;
          input, textarea {
            width: 100%;
            max-height: 100%;
            padding: 12px 20px;
            margin: 10px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-transform: uppercase;
          }
          textarea {
            display: flex;
            justify-content: stretch;
          }
        }
        .btn-row {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

@media (min-width: 768px) {
  .contact-us {
    .contact-form {
      .form-row {
        .message {
          display: inline-block;
          max-height: 100%;
        }
      }
    }
  }
}