header {
    .container {
      justify-content: space-between;
      .golden {
        font-family: "Cookie", italic;
        font-size: 50px;
        text-align: left;
        margin-top: 20px;
        padding: 0;
        color: $highlight-color;
      }
      .row {
        ul {
          list-style: none;
          li {
            display: inline-block;
          }
          a {
            line-height: 40px;
            padding: 0 20px;
            display: block;
            color: #ccc;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 15px;
            &:hover {
              background: #7F7F7F;
              color: white;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }