header {
  .container {
    justify-content: center;
    background-color: #121513;
    .golden {
      font-family: "Cookie", italic;
      font-size: 50px;
      text-align: center;
      margin-top: 20px;
      padding: 0;
      color: $highlight-color;
      z-index: 101;
    }
    .menu-btn {
      display: none;
      &:hover {
        transition: 0.5s;
      }
      &:checked ~ .row ul {
        max-height: 500px;
        overflow: visible;
        padding-bottom: 100px;
      }
      &:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      &:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
        background-color: #7F7F7F;
      }
      &:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
        background-color: #7F7F7F;
      }
      &:checked ~ .menu-icon:not(.steps) .navicon:before,
      &:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }
    }
    .menu-icon {
      top: 20px;
      cursor: pointer;
      display: inline-block;
      padding: 28px 20px;
      position: relative;
      user-select: none;
      z-index: 101;
      .navicon {
        background: white;
        display: block;
        height: 2px;
        line-height: 50px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        &:before, &:after {
          background: white;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }
        &:before {
          top: 5px;
        }
        &:after {
          top: -5px;
        }
      }
    }
    .row {
      ul {
        list-style: none;
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
        z-index: 0;
        a {
          display: block;
          line-height: 50px;
          padding: 0 20px;
          display: block;
          color: #7F7F7F;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 15px;
          &:hover {
            background: #7F7F7F;
            color: white;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .container {
      justify-content: space-between;
      background-color: none;
      .golden {
        font-family: "Cookie", italic;
        font-size: 50px;
        text-align: left;
        margin-top: 25px;
        padding: 0;
        color: $highlight-color;
        &:hover {
          cursor: pointer;
        }
      }
      .menu-icon {
        display: none;
      }
      .row {
        z-index: 101;
        ul {
          list-style: none;
          max-height: none;
          li {
            display: inline-block;
          }
          a {
            line-height: 50px;
            padding: 0 20px;
            display: block;
            color: #ccc;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 15px;
            &:hover {
              background: #7F7F7F;
              color: white;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}