.portfolio {
    background-color: #F7F7F7;
    width: 100%;
    .container {
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
        h1 {
            text-transform: uppercase;
        }
        h3 {
            padding-bottom: 20px;
        }
        .pic {
            position: relative;
            img {
                display: block;
                height: 400px;
                object-fit: cover;
                width: 100%;
            }
            .layer {
                padding: 0;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 20px;
                right: 20px;
                left: 20px;
                justify-content: flex-end;
                align-items: flex-start;
                .icons {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    border: 2px solid white;
                    color: white;
                    background-color: #414141;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 10px 20px;
                }
            }
            .header-space {
                width: 100%;
                height: 100px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 18px;
                .header-class {
                    color: grey;
                    font-family: $font-serif;
                    font-weight: normal;
                    font-size: 16px;
                    font-style: italic;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .portfolio {
        .container {
            .pic {
                &:hover .layer {
                    opacity: 1;
                }
                .layer {
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    background: rgba(0, 0, 0, .8);
                    color: #fff;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    .icons {
                        border: 2px solid $highlight-color;
                        color: $highlight-color;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}