.benefits {
    text-align: center;
    div {
      display: flex;
      flex-wrap: wrap;
    }
    h4 {
      font-size: 18px;
    }
    p {
      display: flex;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: $highlight-color 3px solid;
      justify-content: center;
      align-items: center;
      .fa {
        color: $highlight-color;
        font-size: 50px;
        text-align: center;
      }
    }
    article {
      color: grey;
    }
  }
  